<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<body>

              <div class="background2" style=" height: 130vh; width: 98vw;"> 
                <div style="transform: translateY(200%);box-shadow: 7px 5px 18px  rgb(158, 158, 158); background-color: rgb(255, 106, 106); margin-left: 400px; margin-right: 400px; border-radius: 40px; font-family: fantasy;"  > <h2 style="text-align: center; font-size: 25pt;">Team of work..</h2></div>
                <div class="row row-cols-1 row-cols-md-2" style="margin-top: 130px;">
                  <div class="card mb-3" style="max-width: 540px;border-radius: 30px; background-color:rgb(210, 224, 255) ;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="static/assets/img/mo.jpg" class="card-img" alt="..." style="padding:8px ; border-radius: 100px;">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="font-family: fantasy;">Mo Hussien</h5>
                          <p class="card-text" style="font-family: cursive;">A front-end web developer who is responsible for implementing visual and interactive elements by (html, css, js) that users engage with through their web browser.</p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card mb-3" style="max-width: 540px;border-radius: 30px; background-color:rgb(210, 224, 255) ; ">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="/static/assets/img/ammer.jpg" class="card-img" alt="..." style="padding:8px ; border-radius: 100px;">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title" style="font-family: fantasy;">Ameer Ihsan</h5>
                          <p class="card-text" style="font-family: cursive;">A back-end And front-end web developer who is responsible for server-side web application logic and integration of the work front-end developer do by (python and databace).</p>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="card mb-3" style="max-width: 540px; top: 2%; 
                left: 0%; 
                margin: auto; background-color:rgb(210, 224, 255) ; border-radius: 30px;" >
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="/static/assets/img/cs50.png" class="card-img" alt="..." style="padding:8px ; border-radius: 100px;">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title" style="font-family: fantasy;">CS50x Iraq</h5>
                        <p class="card-text" style="font-family: cursive;">Special thanks to CS50x Iraq group (Hussien, Muklah, Ez aldeen and Laith) for their support. </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                 
              </div>
             



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
<footer style="text-align:center;"> <div style="background-color: rgba(66, 109, 252, 0.719); height: 40px;">copyright © JokerpartyTeam</div></footer>
{% endblock %}